/**
 * grid.scss
 *
 * Grid mixins.
 */

@mixin fixed-size($size) {
    flex: 0 0 $size;
}

.xs-1 { flex: 1; }

@include media-breakpoint-up(sm) {
    .sm-1 { flex: 1; }
}
@include media-breakpoint-up(md) {
    .md-1 { flex: 1; }
}
@include media-breakpoint-up(lg) {
    .lg-1 { flex: 1; }
}
@include media-breakpoint-up(xl) {
    .xl-1 { flex: 1; }
}

.col, .col-xs { flex-direction: column; display: flex; }

@include media-breakpoint-up(sm) {
    .col-sm { flex-direction: column; display: flex; }
}
@include media-breakpoint-up(md) {
    .col-md { flex-direction: column; display: flex; }
}
@include media-breakpoint-up(lg) {
    .col-lg { flex-direction: column; display: flex; }
}
@include media-breakpoint-up(xl) {
    .col-xl { flex-direction: column; display: flex; }
}

.row, .row-xs { flex-direction: row; display: flex; margin: 0; }

@include media-breakpoint-up(sm) {
    .row-sm { flex-direction: row; display: flex; margin: 0; }
}
@include media-breakpoint-up(md) {
    .row-md { flex-direction: row; display: flex; margin: 0; }
}
@include media-breakpoint-up(lg) {
    .row-lg { flex-direction: row; display: flex; margin: 0; }
}
@include media-breakpoint-up(xl) {
    .row-xl { flex-direction: row; display: flex; margin: 0; }
}

.stretch-xs { align-items: stretch; }

@include media-breakpoint-up(sm) {
    .stretch-sm { align-items: stretch; }
}
@include media-breakpoint-up(md) {
    .stretch-md { align-items: stretch; }
}
@include media-breakpoint-up(lg) {
    .stretch-lg { align-items: stretch; }
}
@include media-breakpoint-up(xl) {
    .stretch-xl { align-items: stretch; }
}