/**
 * tables.scss
 *
 * Table styling.
 */

.table {
    margin-bottom: 0;

    &, th, td {
        border-color: $header-pane-border-color;
    }
    th, td {
        border-left: 1px solid $header-pane-border-color;
    }
    th:first-of-type, td:first-of-type {
        border-left: none;
    }

    th {
        border-top: none;
        font-weight: 500;
    }

    // fixing hover with stripes
    &.table-hover {
        tbody tr {
            @include hover {
                background-color: $table-bg-hover;
            }
        }
    }

    .actions a {
        margin-left: 5px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

// https://github.com/michaelbromley/ngx-pagination/blob/master/src/template.ts
.wm-pagination {
    padding: 0.5rem 0;
    border-top: 1px solid #d9dfe9;
    margin-bottom: 0 !important;

    &:before, &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }

    li {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        display: inline-block;

        margin-right: 0.0625rem;
        border-radius: 0;
    }

    a, button {
        color: #0a0a0a;
        display: block;
        padding: 0.1875rem 0.625rem;
        border-radius: 0;

        cursor: pointer;

        &:hover {
            background: #e6e6e6;
        }
    }


    .current {
        padding: 0.1875rem 0.625rem;
        background: #2199e8;
        color: #fefefe;
        cursor: default;
    }

    .disabled {
        padding: 0.1875rem 0.625rem;
        color: #cacaca;
        cursor: default;

        &:hover {
            background: transparent;
        }
    }

    .small-screen {
        display: none;
    }
}

@media screen and (max-width: 601px) {
    .pagination {
        &.responsive {
            .small-screen {
                display: inline-block;
            }
        }

        li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
            display: none; }
    }
}
