<div class="navigator xs-1">
    <nav class="nav nav-pills nav-stacked">
        <h1>{{ 'Tenant Management' }}</h1>
        <ul>
            <li>
                <button class="nav-item"
                        routerLink="/"
                        routerLinkActive="disabled">Home</button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/clusters"
                        routerLinkActive="disabled">Clusters</button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/regions"
                        routerLinkActive="disabled">Regions</button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/servers"
                        routerLinkActive="disabled">Servers</button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/tenants"
                        routerLinkActive="disabled">Tenants</button>
            </li>
        </ul>
    </nav>
</div>
