<section class="body-pane">
    <section class="content-pane">
        <article class="card">
            <header class="card-header with-action-bar">
                <page-title [title]="title" [tag]="titleTag"></page-title>
                <div class="action-bar">
                    <ul>
                        <li>
                            <a class="nav-item"
                               routerLink="/clusters/add"
                               routerLinkActive="disabled">{{_('Add Cluster')}}</a>
                        </li>
                        <li>
                            <a class="nav-item"
                               (click)="refresh()">{{ _('Refresh') }}</a>
                        </li>
                        <li>
                            <search (onSearch)="filter($event)"></search>
                        </li>
                    </ul>
                </div>
            </header>
        </article>
        <article class="card">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ _('Name') }}</th>
                        <th>{{ _('Region') }}</th>
                        <th>{{ _('Created Date') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td><a (click)="edit(item)">{{ item.name }}</a></td>
                        <td>{{ item.region.getName() }}</td>
                        <td>{{ item.createdAt | date: 'medium' }}</td>
                        <td class="actions">
                            <a (click)="delete(item)" class="inversed small">
                                {{ _('delete') }}
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="!data.length">
                        <td colspan="4" class="italic text-center"><span>{{ _('No results') }}</span></td>
                    </tr>
                </tbody>
            </table>

            <section class="panel-content col-xs">
                <pagination [page]="page" (pageNumber)="gotoPage($event)"></pagination>
            </section>
        </article>
    </section>
</section>
