<section class="body-pane">
    <section class="content-pane">
        <article class="card">
            <header class="card-header with-action-bar">
                <page-title [title]="title"></page-title>
                <div class="action-bar">
                    <ul>
                        <li>
                            <a class="nav-item"
                               routerLink="/tenants"
                               routerLinkActive="disabled">{{_('Tenants')}}</a>
                        </li>
                    </ul>
                </div>
            </header>
        </article>
        <article class="card">
            <form class="form-inline" novalidate [formGroup]="form" (ngSubmit)="save()">
                <fieldset class="card">
                    <header class="card-header">
                        <div class="title-bar">
                            <h3 class="title">{{ formTitle }}</h3>
                        </div>
                    </header>
                    <section class="card-content card-padded col-xs col-xs-12">

                        <div class="form-group required">
                            <label for="systemId">{{ _('System ID') }}</label>

                            <input type="text" id="systemId" name="systemId" class="form-control" required numerical
                                   formControlName="systemId" />
                        </div>

                        <div class="form-group required">
                            <label for="tenantId">{{ _('Tenant ID') }}</label>

                            <input type="text" id="tenantId" name="tenantId" class="form-control" required
                                   formControlName="tenantId" />
                        </div>

                        <div class="form-group required">
                            <label for="name">{{ _('Name') }}</label>

                            <input type="text" id="name" name="name" class="form-control" required
                                   formControlName="name" />

                            <ul *ngIf="submitted && formControl.name.errors" class="bg-error">
                                <li *ngIf="formControl.name.errors.required">{{ _('Name is required') }}</li>
                                <li *ngIf="formControl.name.errors.maxLength">{{ _('Max length is 100') }}</li>
                            </ul>

                        </div>

                        <div class="form-group">
                            <label for="tag">{{ _('Tag') }}</label>
                            <input type="text" id="tag" name="tag" class="form-control" required
                                   formControlName="tag" />
                        </div>

                        <div class="form-group">
                            <label for="contentPath">{{ _('Content Path') }}</label>
                            <input type="text" id="contentPath" name="contentPath" class="form-control"
                                   formControlName="contentPath" />
                        </div>

                        <div class="form-group">
                            <label for="active">{{ _('Active') }}</label>
                            <input type="checkbox" id="active" name="active" class="form-control"
                                   formControlName="active" />
                        </div>


                        <div class="form-group" *ngIf="tenant.id">
                            <label>{{ _('Default URL') }}</label>
                            <span>{{ tenant.platformUrl }}</span>
                        </div>

                        <div class="form-group"
                             *ngIf="tenant.id">
                            <label>{{ _('Created Date') }}</label>
                            <span>{{ tenant.createdAt | date: 'medium' }}</span>
                        </div>


                    </section>

                </fieldset>



                <fieldset class="card">
                    <section class="card-content card-padded actions">
                        <button type="button" class="btn btn-default"
                                (click)="goToListPage()">
                            {{ _('Cancel') }}
                        </button>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="submitted">
                            {{ _('Submit') }}
                        </button>
                    </section>

                </fieldset>

            </form>

        </article>
    </section>
</section>
