<section class="body-pane">
    <section class="content-pane">
        <article class="card">
            <header class="card-header with-action-bar">
                <page-title [title]="title" [tag]="titleTag"></page-title>
                <div class="action-bar">
                    <ul>
                        <li>
                            <a class="nav-item"
                               routerLink="/tenants/add"
                               routerLinkActive="disabled">{{_('Add Tenant')}}</a>
                        </li>
                        <li>
                            <a class="nav-item"
                               (click)="refreshRegions()">{{ _('Refresh') }}</a>
                        </li>
                    </ul>
                </div>
            </header>
        </article>
        <article class="card">
            <p>

                tenants will be here
            </p>
        </article>
    </section>
</section>
