<div class="text-center" *ngIf="display()" >
    <ul class="wm-pagination"
        role="navigation">
        <li class="pagination-previous" [class.disabled]="isFirst()" >
            <a tabindex="0" *ngIf="!isFirst()" (click)="gotoFirst()" [attr.aria-label]="previousLabel + ' ' + screenReaderPageLabel">
                «
            </a>
            <span *ngIf="isFirst()">
                «
            </span>
        </li>
        <li class="small-screen">
            {{ current() + 1 }} / {{ getTotalPages() }}
        </li>
        <li *ngFor="let item of getItems()" [class.current]="isCurrent(item)">
            <a tabindex="0" *ngIf="!isCurrent(item)" (click)="goto(item)">
                <span>{{ item + 1 }}</span>
            </a>
            <div *ngIf="isCurrent(item)">
                <span>{{ item + 1 }}</span>
            </div>
        </li>
        <li class="pagination-next" [class.disabled]="isLast()">
            <a tabindex="0" *ngIf="!isLast()" (click)="gotoLast()"
               [attr.aria-label]="nextLabel + ' ' + screenReaderPageLabel">
                »
            </a>
            <span *ngIf="isLast()">
                »
            </span>
        </li>
    </ul>
</div>
