<div class="navigator xs-1">
    <nav class="nav nav-pills nav-stacked">
        <h1 class="text-center">{{ _('Tenant Management') }}</h1>
        <ul>
            <li>
                <button class="nav-item"
                        routerLink="/regions"
                        routerLinkActive="disabled">{{ _('Regions') }}
                </button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/clusters"
                        routerLinkActive="disabled">{{ _('Clusters') }}
                </button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/servers"
                        routerLinkActive="disabled">{{ _('Servers') }}
                </button>
            </li>
            <li>
                <button class="nav-item"
                        routerLink="/tenants"
                        routerLinkActive="disabled">{{ _('Tenants') }}
                </button>
            </li>
        </ul>
    </nav>
</div>