<section class="body-pane">
    <section class="content-pane">
        <article class="card">
            <header class="card-header with-action-bar">
                <page-title [title]="title" [tag]="titleTag"></page-title>
                <div class="action-bar">
                    <ul>
                        <li>
                            <a class="nav-item"
                               routerLink="/servers/add"
                               routerLinkActive="disabled">{{_('Add Server')}}</a>
                        </li>
                        <li>
                            <a class="nav-item"
                               (click)="refresh()">{{ _('Refresh') }}</a>
                        </li>
                    </ul>
                </div>
            </header>
        </article>
        <article class="card">
            <section class="panel-content col-xs">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Cluster') }}</th>
                            <th>{{ _('Region') }}</th>
                            <th>{{ _('Active') }}</th>
                            <th>{{ _('Role') }}</th>
                            <th>{{ _('Host') }}</th>
                            <th>{{ _('Zone') }}</th>
                            <th>{{ _('Created Date') }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td><a (click)="edit(item)">{{ getName(item) }}</a></td>
                            <td>{{ getClusterName(item) }}</td>
                            <td>{{ getRegionName(item) }}</td>
                            <td>
                                <div class="row space-between">
                                    {{ item.active }}
                                </div>
                            </td>
                            <td><span class="labelize labelize-hover role {{ item.role }}">{{ item.role }}</span></td>
                            <td><span class="italic">{{ item.host }}</span></td>
                            <td><span>{{ item.zone ? item.zone : '' }}</span></td>
                            <td>{{ item.createdAt | date: 'medium' }}</td>
                            <td class="actions">
                                <a class="inversed small"
                                   (click)="toggleActive(item)">
                                    {{ item.active ? _('deactivate') : _('activate') }}
                                </a>
                                <a (click)="delete(item)" class="inversed small">
                                    {{ _('delete') }}
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="!data.length">
                            <td colspan="9" class="italic text-center"><span>{{ _('No results') }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="panel-content col-xs">
                <pagination [page]="page" (pageNumber)="gotoPage($event)"></pagination>
            </section>
        </article>
    </section>
</section>
